
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 240px;
    height: 340px;
    background-color: #cfd8dc;
    display: inline-table;
    margin-inline: 20px;
  }
    .card:hover {
    box-shadow: 0 16px 16px 0 rgba(7, 7, 7, 0.2);
  }
  
  .bookdetails {
    padding: 2px 16px;
  }
  .title{
      font-weight: bold;
  }
  .buttons{
      margin-top: 2%;
  }
/*MOBILE RESPONSIVE*/
@media only screen and (max-width: 1178px) {
  *{
    text-align: center;
  }
  body {
    text-align: center;      
  }
  .search{
    margin: 0;
    width: 100% !important;
    text-align: center !important;
  }
}
